/* CSS byDefault configuration  start*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Saira Condensed", sans-serif;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

a {
    padding: 0 !important;
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: "Saira Condensed", sans-serif;
}

input,
textarea {
    border: none;
    outline: none;
    font-family: inherit;
}

/* Common css */
.section_heading {
    font-size: 56px;
    font-weight: 700;
    line-height: 130%;
    color: #1D1F2C;
}

#section_text {
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    color: #777980;
}

.container {
    width: 1320px;
    margin: 0 auto;
    padding: 0 5px;
}


/* CSS byDefault configuration  end*/

/* =======================Fonts family======================
    font-family: "Saira Condensed", sans-serif;
=======================Fonts family====================== */



/* navbar start */
.navbar {
    padding: 24px 0;
    height: 104px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 52px;
    border-bottom-right-radius: 52px;
    position: absolute;
    z-index: 999;
    width: 100%;
}


.logo {
    width: 146px;
    height: 56px;
    overflow: hidden;
}

.nav_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_menu_wrapper {
    display: flex;
    align-items: center;
    gap: 48px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-item {
    position: relative;
}

.nav-link {
    color: #1D1F2C;
    font-size: 18px;
    line-height: 160%;
    font-weight: 500;
    display: block;
}

.nav-item.active::after {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: #1D1F2C;
}

.primary_btn {
    background-color: #1D1F2C;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 32px;
    font-size: 18px;
    line-height: 160%;
    font-weight: 500;
}

/* Mobile toggle button */
.mobile-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: #1D1F2C;
    cursor: pointer;
}

/* navbar end */


/* Banner start */
#banner {
    background-image: url(../assets//images/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    padding: 350px 0;
}

#banner::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.4;
    z-index: -1;
}

.banner_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

#banner h1 {
    font-size: 80px;
    font-weight: 600;
    line-height: 130%;
    color: #FFFFFF;
}

#banner p {
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
    max-width: 566px;
    color: #E9E9EA;
    letter-spacing: 0.5%;
}

#banner .corner_radius_section {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: absolute;
    z-index: 999;
    bottom: 0;
}


/* Banner end */

/* Latest Sound Effects Start */

#sound_effect {
    position: relative;
}

#sound_effect .container {
    padding-bottom: 240px;
}

#sound_effect .heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

#sound_effect .heading p {
    text-align: right;
}

#sound_effect .btn_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 18px;
    margin-top: 18px;
}

.btn_icon_wrapper {
    display: flex;
    align-items: center;
    gap: 2px;
}

.secondary_btn {
    background-color: #EAEFF2;
    color: #777980;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 10px 32px;
    line-height: 160%;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.5%;
    height: 48px;
}


.sound_icon {
    height: 48px;
    background-color: #EAEFF2;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.sound_card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.card_s {
    max-width: 424px;
    background-color: #F8FAFB;
    border-radius: 16px;
    overflow: hidden;

}

.sound_card .card_s .card_padding {
    padding: 24px 27px;
}

.sound_card .card_s .title {
    display: flex;
    align-items: center;
    gap: 16px;
}

.sound_card .card_s .title .title_img {
    width: 80px;
    height: 80px;
}

.sound_card .card_s .title .title_img img {
    width: 100%;
    height: 100%;
}

.sound_card .card_s .action {
    display: flex;
    align-items: center;

}

.sound_card .card_s .action i {
    font-size: 20px;
}

.third_btn {
    background-color: #EAEFF2;
    color: #777980;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.action .third_btn:last-child {
    border-right: none;
}

.sound_card .audio-box {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #EAEFF2;
    padding: 8px;
    border-radius: 24px;
    margin-top: 30px;
}

.speaker,
.duration {
    color: #4A4C56;
}

.playBtn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background: #1D1F2C;
    font-size: 12px;
    cursor: pointer;
    color: #FFFFFF;
}

.waveBeat {
    display: flex;
    gap: 3px;
    align-items: center;
}

.waveBeat .bar {
    width: 2px;
    height: 10px;
    background-color: #1D1F2C;
}


/* Latest Sound Effects end */


/* Popular Sound Effect start */
#popular {
    background-color: #F8F2EA;
    border-radius: 80px;
    padding: 80px;
}

#popular .popular_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 40px;
}

#popular .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-bottom: 24px;
}

#popular .content .dubble_img {
    width: 100%;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

#popular .content .dubble_img img {
    width: 100% !important;
    height: 100%;
}

#popular .content .dubble_img .img_ovarlay {
    bottom: 24px;
    left: 24px;
    position: absolute;
}

#popular .content .dubble_img .img_ovarlay h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    color: #FFFFFF;
}

#popular .content .dubble_img .img_ovarlay p {
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    color: #E9E9EA;
}

#popular .content .single_img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

#popular .content:nth-child(even) {
    direction: rtl;
}

#popular .content:nth-child(even)>* {
    direction: ltr;
}



/* Popular Sound Effect end */



/* Popular Card start */
#popular_card {
    padding: 160px 0;
}

#popular_card .heading {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#popular_card .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    padding-top: 40px;
}

#popular_card .content .card_wrapper {
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
}

#popular_card .content .card_img {
    height: 324px;
    width: 100%;
    overflow: hidden;
}

#popular_card .content .card_img img {
    height: 100%;
    width: 100%;
}

#popular_card .content .card_body {
    padding: 24px;
    background-color: #F8FAFB;
}

#popular_card .content .card_body .names {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#popular_card .content .card_body .names .icon {
    background-color: #E9E9EA;
    border-radius: 32px;
    padding: 8px 16px;
    font-size: 20px;
    color: #777980;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FFFFFF;
}

#popular_card .content .card_body .names h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    color: #1D1F2C;
    letter-spacing: 0.5%;
}

#popular_card article {
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    color: #777980;
    padding: 8px 0 24px;
}

.fourth_btn {
    width: 100%;
    padding: 10px 0;
    background-color: #E9E9EA;
    color: #1D1F2C;
    line-height: 160%;
    font-weight: 500;
    font-size: 18px;
    border-radius: 8px;
}

/* Popular Card end */


/* Footer start */
#footer_section {
    background-color: #070707;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    padding-top: 116px;
    padding-bottom: 32px;
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

#footer_section article {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    color: #E9E9EA;
    letter-spacing: 0.5%;
    max-width: 434px;
    margin-top: 32px;
}

#footer_section .right {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 32px;
}


.links h5 {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 130%;
    font-weight: 500;
    margin-bottom: 25px;
}

.links li a {
    color: #DFE1E7;
    font-size: 18px;
    line-height: 160%;
    font-weight: 500;
}

.address {
    display: flex;
    gap: 42px;
    color: #DFE1E7;
    font-size: 18px;
    line-height: 160%;
    font-weight: 500;
}

.email {
    color: #FFFFFF;
    font-size: 40px;
    line-height: 130%;
    font-weight: 500;
    text-decoration: underline;
    margin-bottom: 20px;
}

.bottoms {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottoms p {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    color: #E9E9EA;
    letter-spacing: 0.5%;
}

.bottoms span {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 130%;
    font-weight: 500;
}

.bottoms .links {
    display: flex;
    align-items: center;
    gap: 12px;
}

.bottoms .links h5 {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 130%;
    font-weight: 500;
    margin-bottom: 0;
}

.bottoms .links ul {
    display: flex;
    align-items: center;
    gap: 6px;
}

.s_icon {
    height: 32px;
    width: 32px;
    background-color: #FFFFFF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s_icon i {
    color: #070707;
    font-size: 20px;
}

/* Footer end */



/* ================= Responsive Container (Extra Code) ================= */
@media (max-width: 1399px) {
    .container {
        width: 1140px;
    }
}

@media (max-width: 1199px) {
    .container {
        width: 960px;
    }
}

@media (max-width: 991px) {
    .container {
        width: 720px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 540px;
    }
}

@media (max-width: 575px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

/* ================= End Responsive Container ================= */




/* Responsive styles */
@media (max-width: 992px) {

    /* Common css */
    .section_heading {
        font-size: 42px;
        text-align: center;
    }

    #section_text {
        font-size: 16px;
    }

    .primary_btn {
        padding: 10px 18px;
        font-size: 16px;
    }

    /* navbar */
    .nav_menu_wrapper {
        position: fixed;
        top: 104px;
        left: 0;
        width: 100%;
        height: calc(100vh - 104px);
        background-color: #777980;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px 0 0 54px;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 998;
    }

    .nav_menu_wrapper.active {
        transform: translateX(0);
    }

    .nav-menu {
        flex-direction: column;
        gap: 20px;

    }

    .mobile-toggle {
        display: block;
    }

    .navbar {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    /* Banner */
    #banner h1 {
        font-size: 50px;
    }

    #banner .corner_radius_section {
        height: 50px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    /* Latest Sound Effects  */
    #sound_effect .heading {
        flex-direction: column;
    }

    #sound_effect .btn_wrapper {
        gap: 10px;
        justify-content: center;
    }

    .secondary_btn {
        padding: 10px 18px;
        height: 44px;
        font-size: 14px;
    }

    .sound_icon {
        height: 44px;
    }

    .sound_card {
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }

    .waveBeat {
        gap: 1.5px;
    }

    .waveBeat .bar {
        width: 1px;
    }

    .sound_card .card_s .title .title_img {
        width: 60px;
        height: 45px;
    }

}

@media (max-width: 576px) {

    /* Common css */
    .section_heading {
        font-size: 36px;
    }

    #section_text {
        font-size: 14px;
    }

    /* navbar */
    .navbar {
        height: 80px;
    }

    .logo {
        width: 90px;
        height: 36px;
    }

    .nav_menu_wrapper {
        top: 80px;
        height: calc(100vh - 80px);
        padding: 40px 0 0 40px;
    }

    .navbar {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    /* Banner */
    #banner p {
        font-size: 18px;
    }


    /* Latest Sound Effects  */
    .sound_card {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .card_s {
        width: 100%;
    }

}